* {
    margin: 0;
    padding: 0;
}

/* utility classes */
.bg-ylo {
    background-color: #f49807;
    color: #ffe2a6;
    border: none;
}

.bg-gry {
    background-color: #9f9f9f;
    color: #2a2a2a;
    border: none;
}

/* --------- END -------------- */

h1 {
    padding: 10px;
    text-align: center;
    margin: 20px 0 80px 0;
}

.cal-box {
    margin: auto;
    width: fit-content;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 15px;
}

.input-box {
    font-size: 16px;
    margin: 12px 0px;
    padding: 10px 15px;
    border-radius: 5px;
}

.btn-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.btn-rows {
    display: flex;
    gap: 10px;
}

.inpt-btn {
    height: 50px;
    width: 50px;
    border-radius: 30%;
    font-size: 25px;
}

.lrg-btn {
    padding: 0px 50px 0px 0px;
    width: 110px;
    border-radius: 15px;
}